.Gallery-image-box
{
  width: 100%;
  height: 530px;
  margin-top: 50px;
  background-color:black;
  border: 1px solid black;
  border-radius: 25px;
}
.Gallery-image-box h1
{
  text-align: center;
  color: white;
  margin-top: 10px;
}
.image-container 
{
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 500px;
}

.image-box 
{
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.image-box > img
{
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.image-box > span 
{
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  color: white;
}

.image-box:hover
{
  flex: 1 1 50%;
}
.image-box:hover > img 
{
  width: 100%;
  height: 100%;
}

/******************************************************************************************
Responsive part
********************************************************************************************/

@media only screen and (max-width: 768px)
{
  .Gallery-image-box
  {
    height: 380px;   
  }
  .Gallery-image-box h1
  {
      font-size: 18px;
  }
  .image-container
  {
    height: 330px;
  }
  .image-box > span
  {
      font-size: 1.6vh;
  }
  .image-box:hover {
  flex: 1 1 50%;
}
}
